{% extends "base.html" %}

{% block composemail_active %}active{% endblock composemail_active %}

{% block style %}


{% endblock style %}
{% block content %}
{% load my_tags %}


<br><br><br>


<div class="container-fluid">

      <div style=" display:flex; background-color: rgb(26, 30, 33);" class="row">
            
            <div class="col col-sm-12 rounded">

                  <h3 class="pl-4">Compose mail</h3>

                  <form class="m-4 p-3 border rounded row " style="border:1px solid white ;" method="post" action="{% url 'mail' %}">
                        <div class="col col-sm-4">
                              <label for="subject">Subject:</label>
                              <input required style="color: white;background-color: rgb(32, 29, 29);" type="text" name="subject" id="id_subject" class="form-control input">
                              <br>

                              <label for="message">Message:</label>
                              <textarea required style="color: white;background-color: rgb(32, 29, 29)" class="form-control" name="message" id="id_message" cols="30" rows="10"></textarea>
                              <p><i>You can use html tags inside message to design mail</i></p>
                              <br>
                              <label for="number">Choose, one email how many time send mail</label>
                              <input required style="color: white;background-color: rgb(32, 29, 29)" type="number" name="number" id="id_number" class="form-control input">
                              <p>Number shuold be less than 200.</p>

                              <input type="submit" class="btn btn-secondary bg-dark" value="Send">

                        </div>
                        {% if files %}

                        <div class="col col-sm-7 offset-1">
                              <h4><label for="type">choose file to send mail</label></h4>
                              <div class="col col-5">

                                    <select style="color: white;background-color: rgb(32, 29, 29)"  required class='form-select' name="file" id="id_file">
                                          <option disabled selected value="">Select</option>

                                          {% for file in files %}
                                          <option value="{{ file.id }}">{{ file.file.name }}</option>

                                          {% endfor %}
                                    </select>


                              </div><br>
                              <div class="col col-5">
                                    <label for="task_name"> Name for task to remember  :</label>
                              <input title='Name for task to remember it' required style="color: white;background-color: rgb(32, 29, 29)" type="Text" name="task_name" id="id_task" class="form-control input">
                                    </div>


                        </div>
                        {% else %}
                        <div class="col col-sm-7 offset-1">
                              <h4>Please Upload Recipients listFile</h4>
                              <a class="btn btn-secondary" href="{% url 'uploadfile' %}">Upload file</a>
                              <input required value='' type="hidden">
                        </div>

                        {% endif %}


                        {% csrf_token %}
                  </form>


            </div>
            <div class="col col-6 offset-1">

            </div>
      </div>
</div>
<!-- Bootstrap JS (optional) -->

<script>
      

      const radio = document.getElementById('area').value
      console.log(radio)
      document.getElementById('id_area')
</script>
{% endblock content %}